.nav{
    position: relative;
    height: fit-content;
    width: 100%;
    margin: auto;
}
ul {
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0 5vw 0 0vw ;
    overflow: hidden;
    position:absolute;
    background-color: transparent;

  }
  
  li {
    float: right;
    padding-left:1.5vw;
    padding-right: 1.5vw;
  
    
  }
  
  li a {
    display: block;
    font-family: 'Copperplate', 'Papyrus', 'fantas';
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.91vw 1.04vw;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
  }
  
  li a:hover {
    background-color: transparent;
    color:#41f9fc;
    text-shadow:5px 5px 20px rgb(255, 255, 254);
  }
  .button {
    padding: 0.8vw;
    font-size: 1vw;
    margin-top:1.5vw;
    width:7vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(3, 3, 3);
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.6vw;
    margin-left: 2vw;
    font-weight: 600;
    float:left;
  }
  
  .button:hover {
    background-color: #000000;
    color:#ffffff;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .button:active {
    background-color: #3029ff;
    transform: translateY(1px);
  }